/* Basic styling */
body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('marvel-cover.gif');
    background-size: cover; /* Esto hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: center center; /* Centra la imagen en la página */
    height: 100vh; /* Ajusta la altura para ocupar toda la ventana */
    margin: 0;
  }

  .custom-navbar{
    background-color: rgb(32, 32, 32);
  }
  
  header, footer {
    padding: 5px;
  }
  
  footer {
    margin-top: auto;
  }

  footer p {
    margin-top: 0;
  }
  
